{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center container">
    <div class="d-flex justify-content-center align-items-center row">
        <header id="title">
            <h1 style="text-align: center">Welcome</h1><br>
            <!-- <p style="text-align: center">Hi, my name is Julien. This website is mainly but not only destined to present the project i worked on while I was intern at Orange</p>-->
        </header>
    </div>
</div>+
{% endblock content %}
