/* SIDEBAR */
#sidebar {
  color: #ffffff;
  text-align: center;
  background-color: #212529;
  z-index: 1500;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#sidebar-toggler {
  display: none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

#page-layout {
  height: 100vh;
  padding: 0;
  font-size: 12px;
  border: none;
  width: 100%;
}

#dash-page {
  transition: margin 1s ease-in-out, padding 1s ease-in-out;
}

@media (min-width: 736px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    text-align: left;
    transition: margin 1s ease-in-out, padding 1s ease-in-out;
  }

   #sidebar ~ #dash-page {
     margin-left: calc(250px + 1rem);
     margin-right: 1rem;
     max-width: calc(100vw - 250px);
     width: calc(100vw - 250px);
     height: 100vh;
  }

   #sidebar ~ #map{
     width: calc(100% - 250px - 6.5rem);
  }

  #hamburger-div {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 250px;
    background-color: #212529;
    transition: width 1s ease-in-out
  }

  #sidebar-toggler {
    display: block;
    transition: top 1s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -180px;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #dash-page {
    margin-left: calc(70px + 1rem);
    margin-right: 1rem;
    max-width: calc(100vw - 70px - 2rem );
    width: calc(100vw - 70px - 2rem );
    height: 100vh;
  }
  #sidebar.collapsed ~ #map {
    width: calc(100% - 6.5rem);
  }




  #sidebar.collapsed > #hamburger-div {
    width: 70px
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:last-child){
    margin-left: -70px;
    margin-right: 70px;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  #collapse {
    display: block;
  }

}

#sidebar a {
  color: #000080
}

#sidebar a.active {
  color: #8B0000;
}

#loading {
    display: none !important;
}

body:has(#_pages_content[data-dash-is-loading="true"]) #loading {
    display: flex !important;
}

.accordion-item, .accordion-button, accordion-header {
  background-color: #212529;
  color: #ffffff;
}