<footer id="footer" class="footer d-flex align-items-center justify-content-around py-2 bg-dark" style="flex-grow: 1;">
    <ul class="d-flex justify-content-around flex-row flex-wrap w-100">
        <li class="nav-item">
            <a href="https://github.com/julien-bonnefoy" class="icon brands style fa-github">
                <span class="label">GitHub</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="icon brands style fa-500px">
                <span class="label">500px</span>
            </a>
        </li>
        <li class="nav-item dropdown dropup">
            <a class="icon solid style btn btn-link nav-link p-0 dropdown-toggle d-flex justify-content-center align-items-center"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static"
                    data-bs-target="bd-theme-dd"
                    aria-label="Toggle theme (dark)"
                    style="width: 3rem;">
              <svg class="bi my-1 theme-icon-active" width="16px" height="16px"><use href="#moon-stars-fill"></use></svg>
              <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
            </a>
            <ul id="bd-theme-dd" class="dropdown-menu dropdown-menu-end dropup" aria-labelledby="bd-theme">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon" width="16px" height="16px"><use href="#sun-fill"></use></svg>
                  Light
                  <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon" width="16px" height="16px"><use href="#moon-stars-fill"></use></svg>
                  Dark
                  <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                  <svg class="bi me-2 opacity-50 theme-icon" width="16px" height="16px"><use href="#circle-half"></use></svg>
                  Auto
                  <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                </button>
              </li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon style fa-phone" style="transform: rotateX(-90deg);">
                <i class="fas fa-phone"></i>
                <span class="label">Phone</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon style fa-envelope">
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
</footer>