<footer class="footer d-flex align-items-center justify-content-around py-2 bg-dark">
    <ul class="d-flex icons">
        <li>
            <a href="https://github.com/julien-bonnefoy" class="icon brands style2 fa-github">
                <span class="label">GitHub</span>
            </a>
        </li>
    </ul>
    <ul class="d-flex icons">
        <li>
            <a href="#" class="icon brands style2 fa-500px">
                <span class="label">500px</span>
            </a>
        </li>
    </ul>
    <a class="icon style2" id="bd-theme"
          type="button"
          aria-expanded="false"
          data-bs-toggle="dropdown"
          aria-label="Toggle theme">
        <svg class="bi theme-icon-active" width="16px" height="16px"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="16px" height="16px"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none" width="16px" height="16px"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="16px" height="16px"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none" width="16px" height="16px"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="16px" height="16px"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="16px" height="16px"><use href="#check2"></use></svg>
            </button>
        </li>
    </ul>
    <ul class="d-flex icons">
        <li>
            <a href="#" class="icon solid style2 fa-phone">
                <span class="label">Phone</span>
            </a>
        </li>
    </ul>
    <ul class="d-flex icons">
        <li>
            <a href="#" class="icon solid style2 fa-envelope">
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
    <!-- THEME CHOICE DROPDOWN -->

</footer>