{% block footer %}
<div class="inner" style="max-width: 68em; margin: 0 auto;  padding: 0 2.5em;">
	<section>
		<h4>Get in touch</h4>
		<form method="post" action="#">
			<div class="fields">
				<div class="field half">
						<label for="name">Name</label><input type="text" name="name" id="name" placeholder="Name">
				</div>
				<div class="field half">
						<label for="email">Email</label><input type="email" name="email" id="email" placeholder="Email">
				</div>
				<div class="field">
					<div class="textarea-wrapper">
							<label for="message">Message</label><textarea name="message" id="message" placeholder="Message" rows="1" style="overflow: hidden; resize: none; height: 79px;">
						</textarea>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li>
					<input type="submit" value="Send" class="primary">
				</li>
			</ul>
		</form>
	</section>
	<section>
		<h4>Follow
		</h4>
		<ul class="icons">
			<li>
				<a href="https://github.com/julien-bonnefoy" class="icon brands style2 fa-github">
					<span class="label">GitHub
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="icon brands style2 fa-500px">
					<span class="label">500px
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="icon solid style2 fa-phone">
					<span class="label">Phone
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="icon solid style2 fa-envelope">
					<span class="label">Email
					</span>
				</a>
			</li>
		</ul>
	</section>
	<ul class="copyright">
		<li>© Julien Bonnefoy. All rights reserved
		</li>
		<li>Design:
			<a href="http://html5up.net">HTML5 UP
			</a>
		</li>
		<li>Demo Images:
			<a href="http://unsplash.com">Unsplash
			</a>
		</li>
	</ul>
	<ul class="footer-nav">
		<li>
			<a href="{{ url_for('about') }}">About
			</a>
		</li>
		<li>
			<a href="mailto:julien.bonnefoy1@orange.fr">Contact</a>
		</li>
	</ul>
</div>
{% endblock footer %}
