
{% block title %}{{ title }}{% endblock title %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center"><b>Edit</b></h3>
            <div class="card-text">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="" method="get" novalidate>
                    {{ idform.csrf_token }}
                    <div class="form-group">
                        {{ idform.nom.label }} {{ idform.nom }} <br>
                        {% for error in idform.nom.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ idform.prenom.label }} {{ idform.prenom }} <br>
                        {% for error in idform.prenom.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                </form>
                <form action="" method="post" novalidate>
                    {{ cdbform.csrf_token }}
                    <div class="form-group">
                        {{ cdbform.mode.label }} {{ cdbform.mode }} <br>
                        {% for error in cdbform.mode.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.com.label }} {{ cdbform.com }} <br>
                        {% for error in cdbform.com.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.lun_mat.label }} {{ cdbform.lun_mat }} <br>
                        {% for error in cdbform.lun_mat.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.lun_am.label }} {{ cdbform.lun_am }} <br>
                        {% for error in cdbform.lun_am.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.mar_mat.label }} {{ cdbform.mar_mat }} <br>
                        {% for error in cdbform.mar_mat.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.mar_am.label }} {{ cdbform.mar_am }} <br>
                        {% for error in cdbform.mar_am.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.mer_mat.label }} {{ cdbform.mer_mat }} <br>
                        {% for error in cdbform.mer_mat.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.mer_am.label }} {{ cdbform.mer_am }} <br>
                        {% for error in cdbform.mer_am.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.jeu_mat.label }} {{ cdbform.jeu_mat }} <br>
                        {% for error in cdbform.jeu_mat.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.jeu_am.label }} {{ cdbform.jeu_am }} <br>
                        {% for error in cdbform.jeu_am.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.ven_mat.label }} {{ cdbform.ven_mat }} <br>
                        {% for error in cdbform.ven_mat.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.ven_am.label }} {{ cdbform.ven_am }} <br>
                        {% for error in cdbform.ven_am.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.ddv.label }} {{ cdbform.ddv }} <br>
                        {% for error in cdbform.ddv.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.dpv.label }} {{ cdbform.dpv }} <br>
                        {% for error in cdbform.dpv.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.rdv.label }} {{ cdbform.rdv }} <br>
                        {% for error in cdbform.rdv.errors %}
                            <span style="color: red;">{{ error }} </span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ cdbform.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

