{% block messages %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, msg in messages %}
				{% if category == 'message' or category == 'info' %}
				<div class="alert alert-info text-center inner">
						<strong>Info!</strong> {{ msg }}
				</div>
				{% endif %}
				{% if category == 'danger' %}
				<div class="alert alert-danger inner">
						<strong>Danger!</strong> {{ msg }}
				</div>
				{% endif %}
				{% if category == 'warning' %}
				<div class="alert alert-warning inner">
						<strong>Warning!</strong>  {{ msg }}
				</div>
				{% endif %}
				{% if category == 'success' %}
				<div class="alert alert-success inner">
						<strong>Success!</strong> {{ msg }}
				</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
{% endblock messages %}
