{% extends 'base.html' %}
{% block styles %}
  {{ super() }}
  {{ styles }}
{% endblock %}
{% block content %}
  <header>
        <div class="row">
            <div class="col">
                <h1 style="text-align: center">{{ _('README.md') }}</h1><br>
            </div>
        </div>
    </header>
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-auto col-md-10">
        {{ content }}
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}